.experience__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.experience__container > div {
  display: grid;
  grid-template-columns: auto;
  background: var(--color-bg-variant);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
}

.experience__container > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}

.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
}

small {
  color: var(--color-light);
}

h3 {
  padding: 1rem;
  text-align: center;
}

/* =========== MEDIA QUERIES (Tablets) =============== */

@media screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr;
  }

  .experience__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .experience__content {
    padding: 1rem;
  }
}

/* =========== MEDIA QUERIES (Phones) =============== */

@media screen and (max-width: 600px) {
  .experience__container {
    gap: 1rem;
  }

  .experience__container > div {
    width: 100%;
    padding: 2rem 1rem;
  }
}
